---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/header/Header.astro";
import { t, changeLanguage } from "i18next";
import Main from "../../components/Main.astro";
import Footer from "../../components/Footer.astro";

changeLanguage("fr");
---

<Layout title={t('site.title')}>
  <main class="overflow-x-hidden">
    <Main />
  </main>
</Layout>

<style lang="scss"></style>
