---
import { t } from 'i18next';

interface Props {
  i18nKey?: string;
  url?: string;
}

const { i18nKey, url } = Astro.props;
---

<a href={url} class="inline-flex font-black text-primary-light" target='_blank' rel="noreferrer noopener">{t(i18nKey)}<slot /></a>

<style>

  a {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--primary-light), var(--primary-light));
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }
  a:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
  }
</style>
