---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header.astro";
---

<Layout title='Welcome to Gbloch'>
  <Header />
  <main>
  </main>
</Layout>

<style lang='scss'>
</style>
