---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header.astro";
import Home from "../components/Home.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title={ t('site.title') }>
  <Header />
  <main>
    <Home />
  </main>
</Layout>

<style lang='scss'>
</style>
