---
import { t } from 'i18next';
import Social from './social/Social.astro';
import Link from '../links/Link.astro';
import Trans from '../header/language-selector/Trans.astro';
import Button from '../buttons/Button.astro';
---

<div class="flex flex-col w-full sm:items-start p-5">
  <div class="font-black sm:text-lg md:text-xl lg:text-2xl dark:text-secondary-lightest">
    {t('home.greetings')}
  </div>
  <div class="mb-2 text-4xl sm:text-6xl md:mb-5 lg:text-8xl">
    <span class="font-black text-primary dark:text-primary-light">Gaëtan</span>
    <span class="dark:text-secondary-lightest">Bloch.</span>
  </div>
  <div
    class="font-black text-secondary-bright dark:text-secondary-light text-xl sm:text-3xl lg:text-5xl sm:mb-2"
  >
    {t('home.position-engineer')}
  </div>
  <div class="font-black dark:text-secondary-lightest text-xl sm:text-3xl lg:text-5xl sm:mb-2">
    {t('home.position-speaker')}
  </div>
  <div
    class="font-black text-secondary-bright dark:text-secondary-light text-xl sm:text-3xl lg:text-5xl"
  >
    {t('home.position-author')}
  </div>
  <div class="mt-5">
    <Trans i18nKey="home.description">
      I am currently as a Software Architect and Staff Engineer at
      <Link url="https://keyconsulting.fr">Key Consulting</Link> in Nantes, France.<br />
       I have more than 11 years of experience as Software Engineer and Web Developer, with a strong focus on the JVM, JavaScript and Golang
      ecosystem.
    </Trans>
  </div>
  <div class="flex justify-center mt-10">
    <Social />
  </div>
  <div class="flex justify-center w-full mt-10">
    <a href="#about">
      <Button>
        View my work
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="inline rotate-90"
          ><title>arrow-right</title>
          <path
            fill="currentColor"
            d="M11.293 5.707l5.293 5.293h-11.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h11.586l-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l7-7c0.092-0.092 0.166-0.202 0.217-0.324 0.101-0.245 0.101-0.521 0-0.766-0.049-0.118-0.121-0.228-0.217-0.324l-7-7c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z"
          ></path>
        </svg>
      </Button>
    </a>
  </div>
</div>
