---

import Button from "../buttons/Button.astro";

---

<div class='flex flex-col gap-5 items-center align-middle'>
  <h1 class='flex justify-center text-xl md:text-5xl'>Get In Touch</h1>
<div class='flex text-center max-w-[45rem]'>
  Although I’m not currently looking for any new opportunities, my inbox is always open. Whether you
  have a question or just want to say hi, I’ll try my best to get back to you!
</div>
  <a href='mailto:gbloch@gaetan-bloch.com' class='mt-3'>
    <Button>
    Say Hello
    </Button>
  </a>
</div>

