---
import HeaderLink from './HeaderLink.astro';
import HeaderButton from './HeaderButton.astro';
import { t } from 'i18next';
---

<span class="hidden md:inline md:space-x-4 lg:space-x-6">
  <HeaderLink name={t('header.about')} />
  <HeaderLink name={t('header.portfolio')} />
  <HeaderLink name={t('header.certifications')} />
  <HeaderLink name={t('header.contact')} />
  <HeaderButton />
  <span
    class="hidden md:inline-flex select-none align-baseline text-2xl text-secondary dark:text-secondary-lighter"
    >|</span
  >
</span>
