---
interface Props {
  name: string;
  bold: boolean;
}

const { name, bold } = Astro.props;
---

<a
  href="#"
  class="header-item relative no-underline select-none focus:outline-none before:bg-primary-light dark:before:bg-primary-light"
>
  {name}
</a>

<style lang="scss">
  $animation: ease-in-out;
  $duration: 0.3s;

  .header-item {
    &:before {
      @apply absolute -right-1 left-1 h-1 opacity-0 dark:bg-primary-light;
      bottom: -0.125em;
      content: '';
      transform: translateY(0.5em);
      transition:
        transform $animation $duration,
        opacity $animation $duration;
    }

    &:hover,
    &:focus {
      &:before {
        @apply opacity-100;
        transform: translateY(0.1em);
      }
    }
  }
</style>
