---
import HeaderLink from "./HeaderLink.astro";
import HeaderButton from "./HeaderButton.astro";
---

<span class='hidden md:inline md:space-x-4 lg:space-x-6'>
      <HeaderLink name="about" />
      <HeaderLink name="portfolio" />
      <HeaderLink name="certifications" />
      <HeaderLink name="contact" />
      <HeaderButton />
      <span class='hidden md:inline-flex select-none align-baseline text-2xl text-secondary dark:text-secondary-lighter'>|</span>
    </span>

<style>
  .header-items {
    &--inline {
      @apply hidden md:inline md:space-x-4 lg:space-x-6;
    }

    &--dropdown {
      @apply flex flex-col items-center m-auto w-screen h-screen space-y-4 text-xl font-bold;
    }

    &__separator {
      @apply hidden md:inline-flex select-none align-baseline text-2xl text-secondary dark:text-secondary-lighter;
    }

    &__flag {
      margin-left: 1em !important;
    }
  }

</style>
