---
import Logo from "./Logo.astro";
import HeaderLinks from "./HeaderLinks.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
import LanguageSelector from "./language-selector/LanguageSelector.astro";
---

<header class='header px-5 pt-5 pb-5 grid md:px-14 lg:px-28 md:pb-10 md:pt-10'>
  <div class='justify-self-start self-center relative z-20'>
    <Logo />
  </div>
  <div class='justify-self-end self-center space-x-4 z-20'>
    <HeaderLinks />
    <div class='inline-flex gap-5'>
      <LanguageSelector/>
      <ThemeSwitcher />
    </div>
  </div>
</header>

<style lang='scss'>
  $transition-function: ease;
  $transition-duration: 0.5s;
  $transition: backdrop-filter $transition-function $transition-duration,
  opacity $transition-function $transition-duration,
  font-weight $transition-function $transition-duration,
  background-color $transition-function $transition-duration;

  .header {
    grid-template-columns: auto 1fr;

    &-left {
      .MenuMode {
        @apply absolute -right-7 -top-3;
      }
    }
  }
</style>
