---
import HeaderLink from "./HeaderLink.astro";
import HeaderButton from "./HeaderButton.astro";
import { t } from "i18next";
import { links } from "../../utils/types";
---

<nav class='inline md:space-x-4 lg:space-x-6'>
  {
    links.map((link) => (
      <HeaderLink name={ t(link.i18nKey) } />
    ))
  }
  <HeaderButton />
  <span
    class='inline-flex select-none align-baseline text-2xl text-secondary dark:text-secondary-lighter'
  >|</span
  >
</nav>
