---

---

<a
  href="https://linktr.ee/gbloch"
  class="font-logo text-primary dark:text-primary-light select-none text-4xl"
>
  G<span class="font-primary text-secondary font-bold dark:text-secondary-lighter">Bloch</span>
</a>

<style lang="scss">
  a {
    font-family: Audiowide, cursive;
  }
</style>
