---
import { t } from "i18next";
import Avatar from "./avatar/avatar.svg?raw";
import Social from "./social/Social.astro";
---
<div class='grid grid-cols-6'>
  <div class=' home flex flex-col col-span-6'>
  <span
    class='font-black text-sm sm:text-lg md:text-xl md:mt-5 lg:mt-20 dark:text-secondary-lightest'>
    { t("home.greetings") }
  </span>
    <div class='inline-flex mb-2 text-4xl sm:text-6xl md:mb-5 lg:text-8xl'>
    <span
      class='font-black text-primary dark:text-primary-light'>Gaëtan</span>
      <span
        class='ml-2 dark:text-secondary-lightest'>Bloch</span>
    </div>
    <span
      class='font-black text-secondary-bright dark:text-secondary-light text-xl sm:text-3xl lg:text-5xl mb-3'>
    { t("home.position-engineer") }
  </span>
    <span
      class='font-black dark:text-secondary-lightest text-xl sm:text-3xl lg:text-5xl mb-2'>
    { t("home.position-speaker") }
  </span>
    <span
      class='font-black text-secondary-bright dark:text-secondary-light text-xl sm:text-3xl lg:text-5xl'>
    { t("home.position-author") }
  </span>
   <div class='inline-flex justify-center md:justify-start md:px-32 lg:px-52 xl:px-80 mt-10'>
    <Social />
  </div>
  </div>

  <!--<div class='flex align-middle items-center justify-self-center'>-->
  <!--  <Fragment set:html={ Avatar } />-->
  <!--</div>-->
</div>


<style lang='scss'>
  .home {
    > * {
      @apply inline-flex justify-center md:justify-start md:px-32 lg:px-52 xl:px-80;
    }
  }
</style>
