---
import { t } from "i18next";
---

<div class='home flex flex-col'>
  <span
    class='font-bold text-sm text-secondary-light sm:text-lg md:text-xl md:mt-5 lg:mt-20'>
    { t("home.greetings") }
  </span>
  <span class='mb-2 font-black text-4xl sm:text-6xl md:mb-5 lg:text-8xl'>
    Gaëtan Bloch
  </span>
  <span
    class='font-black text-secondary-light text-xl sm:text-3xl lg:text-5xl mb-3'>
    { t("home.position-engineer") }
  </span>
  <span
    class='font-black text-secondary-light text-xl sm:text-3xl lg:text-5xl mb-2'>
    { t("home.position-speaker") }
  </span>
  <span class='font-black text-secondary-light text-xl sm:text-3xl lg:text-5xl'>
    { t("home.position-author") }
  </span>
</div>

<style lang='scss'>
  .home {
    > * {
      @apply inline-flex justify-center md:justify-start md:px-32 lg:px-52 xl:px-80;
    }
  }
</style>
