---
import { t } from "i18next";
import Home from "./home/Home.astro";
---

<section id='home' class='block h-screen w-screen'>
  <div
    class='grid md:mt-5 lg:mt-20 xl:mt-32 2xl:mt-56 md:px-32 lg:px-52 xl:px-96 2xl:px-[40rem]'>
    <Home />
  </div>
</section>
<section id='about' class='flex justify-center h-screen'>
  <div class='text-4xl font-bold'>About me</div>
</section>
<section id='work' class='flex justify-center h-screen'>
  <div class='text-4xl font-bold'>My Work</div>
</section>
<section id='contact' class='flex justify-center h-screen'>
  <div class='text-4xl font-bold'>Contact</div>
</section>
