---
import { t } from 'i18next';
import Home from './home/Home.astro';
import About from './about/About.astro';
import Work from './work/Work.astro';
import Testimonials from './testimonials/Testimonials.astro';
import Blog from './blog/Blog.astro';
import Contact from './contact/Contact.astro';
import Education from './education/Education.astro';
import { Icon } from 'astro-icon'
---

<div>
  <section
    id="home"
    class="h-screen w-screen grid pt-20 md:pt-28 lg:pt-36 md:mt-5 lg:mt-20 xl:mt-32 2xl:mt-56 md:px-32 lg:px-52 xl:px-96 2xl:px-[30rem]"
  >
    <Home />
  </section>
  <section id="about" class="flex flex-col items-center pt-28 xl:pt-56 w-screen">

    <h1
      class="text-lg font-writing md:text-4xl font-bold after:bg-secondary dark:after:bg-secondary-light after:top-[15px] md:after:top-[23px]
      after:w-[200px] after:h-[2px] lg:after:w-[700px] lg:after:h-[2px] lg:after:ml-20"
    >
      <Icon name='icomoon-free:profile' class='h-5 w-5 mt-1 sm:w-10 sm:h-10 mr-3' />
      <span>About me</span>
    </h1>
    <About />
  </section>
  <section id="work" class="flex flex-col items-center pt-20 xl:pt-36">
    <h1
      class="text-lg font-writing md:text-4xl font-bold after:bg-secondary dark:after:bg-secondary-light after:top-[15px] md:after:top-[23px]
      after:w-[200px] after:h-[2px] lg:after:w-[700px] lg:after:h-[2px] lg:after:ml-20"
    >
      <Icon name='ic:round-home-work' class='h-5 w-5 mt-1 sm:w-10 sm:h-10 mr-3' />
      <span>Work</span>
    </h1>
    <Work />
  </section>
  <section id="education" class="flex flex-col items-center pt-20 xl:pt-36">
    <h1
      class="text-lg font-writing md:text-4xl font-bold after:bg-secondary dark:after:bg-secondary-light after:top-[15px] md:after:top-[23px]
            after:w-[200px] after:h-[2px] lg:after:w-[700px] lg:after:h-[2px] lg:after:ml-20"
    >
      <Icon name='mdi:book-education' class='h-5 w-5 mt-1 sm:w-10 sm:h-10 mr-3' />
      <span>Education</span>
    </h1>
    <Education />
  </section>
  <section id="blog" class="flex flex-col items-center pt-20 xl:pt-36">
    <h1
      class="text-lg font-writing md:text-4xl font-bold after:bg-secondary dark:after:bg-secondary-light after:top-[15px] md:after:top-[23px]
            after:w-[200px] after:h-[2px] lg:after:w-[700px] lg:after:h-[2px] lg:after:ml-20"
    >
      <Icon name='grommet-icons:blog' class='h-5 w-5 mt-1 sm:w-10 sm:h-10 mr-3' />
      <span>Blog</span>
    </h1>
    <Blog />
  </section>
  <section id="testimonials" class="flex flex-col items-center pt-20 xl:pt-36">
    <h1
      class="text-lg font-writing md:text-4xl font-bold after:bg-secondary dark:after:bg-secondary-light after:top-[15px] md:after:top-[23px]
            after:w-[200px] after:h-[2px] lg:after:w-[700px] lg:after:h-[2px] lg:after:ml-20"
    >
      <Icon name='dashicons:testimonial' class='h-5 w-5 mt-1 sm:w-10 sm:h-10 mr-3' />
      <span>Testimonials</span>
    </h1>
    <Testimonials />
  </section>
  <section id="contact" class="flex flex-col items-center">
    <h2
      class="text-lg font-writing md:text-2xl font-bold after:bg-secondary dark:after:bg-secondary-light after:top-[15px] md:after:top-[23px] mb-5"
    >
      What's next?
    </h2>
    <Contact />
  </section>
</div>

<style lang="scss">
  h1 {
    display: inline-flex;
    position: relative;
    margin: 10px 0 10px;

    &::after {
      content: '';
      display: block;
      position: relative;
      left: 0;
      /*width: 300px;*/
      /*height: 2px;*/
      margin-left: 20px;
    }
  }
</style>
